.special {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.special ul {
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.special ul:hover {
    transform: scale(1.1);
}

.special ul img {
    width: 120px;
}

.special ul li {
    margin-top: 16px;
    align-self: center;
    text-align: center;
}