.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    margin-top: 12px;
    border-bottom-width: 1px;
    padding-bottom: 18px;
    margin-bottom: 12px;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 100
}

.nav img {
    width: 217px;
    align-self: center;

}

.content {
    display: flex;
    font-size: 16px;
}

.elements {
    margin-left: 25px;
    cursor: pointer;
    font-weight: 500;
    color: #1F2937;


}

.elements:hover {
    color: #5F6FFF;
}

.hrr {
    background: #5F6FFF;

}

.nav ul li hr {
    background-color: #5F6FFF;
}

.userContainer {

    display: flex;
    width: 49px;
    cursor: pointer;
    margin-right: 50px;
    align-items: center;
    justify-content: center;

}

.profile {
    /* width: 100%; */
    width: 49px;
    border-radius: 100;

}

.drop {
    width: 13.15px;
    height: 9.5px;
    margin-left: 10px;

}

.dropDwon {
    background: #F8F8F8;
    padding: 10px;
    align-items: start;
    position: absolute;
    left: -150px;
    width: 230px;
    top: 23px;
    padding-bottom: 15px;
}

.text {
    color: #4B5563;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
}

.text:hover {
    color: black;
}




.dropChild {
    position: relative;
}

@media (max-width: 896px) {
    .nav img {
        width: 150px;
        align-self: center;
    }

}