.Title {
    font-weight: 600;
    font-size: 20px;
    align-self: center;
    text-align: center;
}

.modal-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}

.imgContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.imgContainer img {
    width: 120px;

}

.buttonsContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.YesButton {
    background-color: rgb(87, 87, 221);
    color: white;
    font-weight: 400;
    padding: 5px 10px;
    width: 80px;
    border-radius: 10px;
}

.NoButton {
    background-color: red;
    color: white;
    font-weight: 400;
    padding: 5px 10px;
    width: 80px;
    border-radius: 10px;
    margin-left: 10px;
}