.docDetail {
    display: flex;
}

.docImage {
    background: #5F6FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    border-radius: 12px;
    margin: 20px;
    width: 600px;
    height: 345px;

}

.docImage img {
    width: 100%;
}

.docDescription {
    border-width: 2px;
    padding: 10px;
    border-radius: 12px;
    margin: 20px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.docname {
    display: flex;
    margin-left: 20px;

}

.docname h1 {
    font-size: 36px;
    font-weight: 500;
    color: #1F2937;

}



.docname img {
    width: 25px;
    height: 24px;
    margin-top: 18px;
    margin-left: 12px;

}

.deignation {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
}

.deignation p {
    color: #4B5563;
    font-size: 20px;
    font-weight: 400;
}

.experince {
    border-width: 1px;
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border-color: #4B5563;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.about p {
    font-size: 18px;
    font-weight: 500;
    color: #1F2937;

}

.about img {
    width: 17px;
    height: 17px;
    margin-left: 5px;
}

.docAbout {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #4B5563;
    font-weight: 400;

}

.appoint {
    font-size: 22px;
    font-weight: 400;
    color: #4B5563;
    margin-left: 20px;
}

.highlightedText {
    font-weight: 500;
    color: #262626;

}

.bookingContainer {
    margin-left: 25px;
    margin-top: 15px;
}

.booking {
    font-size: 25px;
    color: #565656;
    font-weight: 500;

}

.bookingSlots {
    cursor: pointer;
    width: "40%";
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 15px;
    border-radius: 44px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 87px;
    height: 127px;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    border-width: 2px;
    border-color: #4B5563;


}

.slots {
    display: flex;
    margin: 20px;
    align-items: center;


}

.day {
    align-self: center;
    align-items: center;
    justify-content: center;
}