@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

.btn {
    background: #5F6FFF;
    color: white;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 47px;

}

.lastPara {
    text-align: center;
    color: #4B5563;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;


}

.whitebtn {
    background: white;
    color: black;
    display: flex;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 47px;
    margin-top: 17px;

}

.whitebtn:hover {
    scale: 200px;
    transition: all;
    animation-duration: 300;
    background: black;
    color: white;
}

.whitebtn img {
    width: 14px;
    margin-left: 10px;
    align-self: center;
}